<a href="https://colab.research.google.com/github/Battula-Shilpa/-Machine-Learning/blob/main/5_Ada_Boost_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ada -Boost Algorithm

- **Adaptive boosting is a boosting ensemble learning that sequentially trains weak classifier to create a strong classifier**

- **Properties:**
  1. Ada Boost trains weak learners sequentially
  2. Emphasizes on getting misclassified samples right
  3. Weighted Gini Index is used to decide which feature will be used
  4. Ada Boost trains weak learners sequentially
  5. At each iteration,we boost weights of misclassified samples
  6. Not best suited to work with Noisy data

# Code

In [118]:
#Import Liabraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [119]:
import zipfile
zipfile.ZipFile('/content/sample_data/titanic.zip').extractall()

In [120]:
#Load the dataset
train = pd.read_csv('/content/test.csv')
test = pd.read_csv('/content/train.csv')

In [121]:
train

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [122]:
test

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [123]:
df = pd.concat([train,test],sort = False)

In [124]:
df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,NaN
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,NaN
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,NaN
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,NaN
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0.0
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1.0
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0.0
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1.0
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0.0

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1309 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Pclass       1309 non-null   int64
 2   Name         1309 non-null   object
 3   Sex          1309 non-null   object
 4   Age          1046 non-null   float64
 5   SibSp        1309 non-null   int64
 6   Parch        1309 non-null   int64
 7   Ticket       1309 non-null   object
 8   Fare         1308 non-null   float64
 9   Cabin        295 non-null    object
 10  Embarked     1307 non-null   object
 11  Survived     891 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 132.9+ KB

In [126]:
df.describe()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Survived
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,891.000000
mean,655.000000,2.294882,29.881138,0.498854,0.385027,33.295479,0.383838
std,378.020061,0.837836,14.413493,1.041658,0.865560,51.758668,0.486592
min,1.000000,1.000000,0.170000,0.000000,0.000000,0.000000,0.000000
25%,328.000000,2.000000,21.000000,0.000000,0.000000,7.895800,0.000000
50%,655.000000,3.000000,28.000000,0.000000,0.000000,14.454200,0.000000
75%,982.000000,3.000000,39.000000,1.000000,0.000000,31.275000,1.000000
max,1309.000000,3.000000,80.000000,8.000000,9.000000,512.329200,1.000000

In [127]:
df.shape

(1309, 12)

#data preprocessing

In [128]:
#Missing value
df.isnull().sum()

PassengerId       0
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
Survived        418
dtype: int64

In [129]:
df = df.drop('Cabin',axis=1)

In [130]:
df.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Embarked', 'Survived'],
      dtype='object')

In [131]:
from sklearn.impute import SimpleImputer
print(f"Number of Null values in Age Column before imputation: {df['Age'].isnull().sum()}")

# for int values
si = SimpleImputer(missing_values=np.nan,strategy='mean')
df['Age'] = si.fit_transform(df[['Age']])
print(f"Number of Null values in Age Column after imputation: {df['Age'].isnull().sum()}")

Number of Null values in Age Column before imputation: 263
Number of Null values in Age Column after imputation: 0

In [132]:
df['Survived'] = si.fit_transform(df[['Survived']])

df['Fare'] = si.fit_transform(df[['Fare']])

In [133]:
#for object(str)
si1 = SimpleImputer(missing_values=np.nan,strategy='most_frequent')
df[['Embarked']] = si1.fit_transform(df[['Embarked']])

In [134]:
df.isnull().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
Survived       0
dtype: int64

In [135]:
df = df.drop(['Name','Ticket'],axis = 1)

In [136]:
df

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Survived
0,892,3,male,34.500000,0,0,7.8292,Q,0.383838
1,893,3,female,47.000000,1,0,7.0000,S,0.383838
2,894,2,male,62.000000,0,0,9.6875,Q,0.383838
3,895,3,male,27.000000,0,0,8.6625,S,0.383838
4,896,3,female,22.000000,1,1,12.2875,S,0.383838
...,...,...,...,...,...,...,...,...,...
886,887,2,male,27.000000,0,0,13.0000,S,0.000000
887,888,1,female,19.000000,0,0,30.0000,S,1.000000
888,889,3,female,29.881138,1,2,23.4500,S,0.000000
889,890,1,male,26.000000,0,0,30.0000,C,1.000000
890,891,3,male,32.000000,0,0,7.7500,Q,0.000000

In [137]:
#outlier detection
thershold = 3
from scipy.stats import zscore

numerical_feature =['Fare','Age']
z_score = zscore(df[numerical_feature])
print(z_score)

         Fare           Age
0   -0.492396  3.586555e-01
1   -0.508429  1.329283e+00
2   -0.456465  2.494035e+00
3   -0.476284 -2.237208e-01
4   -0.406194 -6.119717e-01
..        ...           ...
886 -0.392417 -2.237208e-01
887 -0.063719 -8.449222e-01
888 -0.190364 -5.517377e-16
889 -0.063719 -3.013710e-01
890 -0.493927  1.645300e-01

[1309 rows x 2 columns]

In [138]:
outliers = np.where(z_score > thershold)
print(outliers)

(array([  24,   53,   59,   64,   69,   74,   75,   81,   96,  114,  142,
        156,  184,  202,  218,  324,  343,  375,  407,  445,  506,  514,
        534,  536,  676,  717,  729,  759,  795,  798,  856,  911,  945,
        975, 1048, 1090, 1097, 1107, 1118, 1134, 1148, 1155, 1160, 1163,
       1197, 1269]), array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1]))

In [139]:
from scipy.stats.mstats import winsorize
df['Age'] = winsorize(df['Age'],limits=[0.15,0.15])
df['Fare'] = winsorize(df['Fare'],limits=[0.15,0.15])

In [150]:
#Encoding
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()
df['Sex'] = oe.fit_transform(df[['Sex']])
df['Embarked'] = oe.fit_transform(df[['Embarked']])

df['Survived'] = oe.fit_transform(df[['Survived']])

In [151]:
df

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Survived
0,892,3,1.0,34.500000,0,0,7.8292,1.0,1.0
1,893,3,0.0,42.000000,1,0,7.7500,2.0,1.0
2,894,2,1.0,42.000000,0,0,9.6875,1.0,1.0
3,895,3,1.0,27.000000,0,0,8.6625,2.0,1.0
4,896,3,0.0,22.000000,1,1,12.2875,2.0,1.0
...,...,...,...,...,...,...,...,...,...
886,887,2,1.0,27.000000,0,0,13.0000,2.0,0.0
887,888,1,0.0,19.000000,0,0,30.0000,2.0,2.0
888,889,3,0.0,29.881138,1,2,23.4500,2.0,0.0
889,890,1,1.0,26.000000,0,0,30.0000,0.0,2.0
890,891,3,1.0,32.000000,0,0,7.7500,1.0,0.0

In [157]:
X = df.drop('Survived', axis = 1)
y = df['Survived']

# train test split

In [158]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

# Ada-Boost

In [159]:
from sklearn.ensemble import AdaBoostClassifier
ab = AdaBoostClassifier(n_estimators=45,learning_rate=0.01,random_state=0)
ab.fit(X_train,y_train)
y_pred = ab.predict(X_test)

In [161]:
from sklearn.metrics import accuracy_score
print('Accuracy :',accuracy_score(y_test,y_pred))

Accuracy : 0.7290076335877863